.Board-grid-square {
  background-color: aliceblue;
  border: 1px solid black;
  display: grid;
  place-items: center;
  width: 224px;
  height: 120px;
}

.home-board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
  row-gap: 22px;
  /*padding: 16px;*/
  /*overflow-y: inherit;*/
  overflow: hidden;
  /*overflow-x: hidden;*/
}

@media (max-height: 990px) {
  .home-board {
    overflow-y: scroll;
  }
}

@media (max-width: 1800px) {
  .home-board {
    overflow-y: scroll;
  }
}

@media (max-width: 1000px) {
  .home-board {
    grid-template-columns: repeat(auto-fit, minmax(10vh, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(10vh, 1fr));
    padding-left: 56px;
    flex-shrink: 0;
    row-gap: 72px;
    column-gap: 72px;
    overflow-y: scroll;
  }
}

.group-board {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  /*padding-bottom: 2em;*/
  /*flex-shrink: 0;*/
  /*row-gap: 24px;*/
  /*padding: 8px;*/
}
