.Folder-menu {
  max-width: 80vw;
  min-width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  padding: 2rem;
  border-radius: 1rem;
}

.Folder-menu-header {
  display: flex;
  justify-content: space-between;
}

.Folder-menu nav {
  display: flex;
}

.Folder-menu-item-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.Folder-menu-item {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 0.25rem 0;
}

.Folder-menu-item img {
  width: 1.5rem;
  height: 1.5rem;
}

.Folder-menu-item:hover {
  background-color: rgb(235, 235, 235);
}

.Folder-menu-item-url {
  display: none;
}

.Folder-menu-item-title {
  display: initial;
}

.Folder-menu-item:hover .Folder-menu-item-url {
  display: initial;
}

.Folder-menu-item:hover .Folder-menu-item-title {
  display: none;
}
