.Folder-menu {
  max-width: 80vw;
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
}

.Folder-menu-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 1rem 0;
}

.Folder-menu nav {
  display: flex;
  align-items: center;
}

.Folder-menu-breadcrumb {
  display: flex;
  align-items: center;
}

.Folder-menu-breadcrumb > button {
  font-family: var(--font);
  font-size: large;
  font-weight: bold;
  color: hsl(0, 0%, 25%);
  transition: all 100ms ease;
}

.Folder-menu-breadcrumb > button:hover {
  cursor: pointer;
  font-weight: bolder;
  color: black;
}

.Folder-menu-item-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  box-shadow: inset 0px 4px 8px 0px hsla(0, 0%, 0%, 0.1);
}

.Folder-menu-item {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  transition: all 50ms ease;
}

.Folder-menu-item-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Folder-menu-item:hover {
  background-color: rgb(235, 235, 235);
}

.Folder-menu-item img {
  width: 1.5rem;
  height: 1.5rem;
}
.Folder-menu-item-url {
  display: none;
}

.Folder-menu-item-title {
  display: initial;
}

.Folder-menu-item:hover .Folder-menu-item-url {
  display: initial;
}

.Folder-menu-item:hover .Folder-menu-item-title {
  display: none;
}
