.Group-thumbnail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding: 0.5rem;

  border-radius: 0.5rem;
}

.Group-thumbnail:hover {
  /* FIXME: Should not blur the foreground items */
  backdrop-filter: none;
}

.Group-thumbnail > img,
.Group-thumbnail > div {
  width: 1rem;
  margin: auto;
  border-radius: 0.25rem;
}

.Group-main {
  display: flex;
  justify-content: center;
}

#group-previous,
#group-next {
  border-radius: 1rem;
  padding: 0 1.5rem;
}

.Group-main svg {
  transition: all 150ms ease;
  font-size: 3rem;
}

#group-previous:hover > svg,
#group-next:hover > svg {
  transform: scale(1.1);
}

#group-previous:hover:not(:disabled) {
  cursor: pointer;
  background: linear-gradient(to right, hsla(0, 0%, 75%, 50%), hsla(0, 0%, 50%, 0%));
}

#group-next:hover:not(:disabled) {
  cursor: pointer;
  background: linear-gradient(to left, hsla(0, 0%, 75%, 50%), hsla(0, 0%, 50%, 0%));
}

.Group-container {
  border-radius: 2rem;
  height: 70vh;
  max-height: 100vh;
  width: 70vh;

  padding: 1rem;
}

.Group-footer,
.Group-header {
  display: flex;
  justify-content: center;
}
