.PageBorder {
  position: relative;
  width: 50px;
  display: flex;
}

.PageBorder-invisible {
  position: relative;
  display: flex;
}

.PageBorder-content {
  /* Common styles */
  position: absolute;
  height: 100%;
  width: 100%;
  animation: fade-in 0.2s, glow 1s linear 0.2s infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Right page border */
  background: linear-gradient(to left, hsla(0, 0%, 50%, 50%), hsla(0, 0%, 50%, 0%));
  border-radius: 1rem 0 0 1rem;
}

.PageBorder-content.full-border {
  border-radius: 1rem !important;
}

.PageBorder-content.left {
  background: linear-gradient(to right, hsla(0, 0%, 50%, 50%), hsla(0, 0%, 50%, 0%));
  border-radius: 0 1rem 1rem 0;
}
